
.right_panel{
    margin-top: 10%;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    width: fit-content;
    padding: 30px;
    min-width: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
}

.stat{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -30px;
}

.stats > h3{
    font-weight: bold;
}

#index_sep_bo{
    width: 20%;
    color: #1A414E;
    margin-top: 20px;
}

#stats_sep_bo{
    width: 90%;
    margin-bottom: 40px;
}

