body {
    overflow: auto;
}

.selectable, .selectable_ {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 8vw;
}

.selectable.selected, .selectable_.selected {
    background-color: #E0BD78;
}

.selectable.disabled, .selectable_.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.benevoles_selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#comment{
    margin-left:0px;
    width:100%;
}

.limit{
    margin-left: 0px;
}

.right_panel > .secondform{
    width: 50%;
}

.right_panel > .captcha_form > .login > .entries > .entries > textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow: auto;
}