.highlighted-text {
    color: #1E3A47;
    position: relative;
    display: inline-block;
}

.highlighted-text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.6em;
    width: 100%;
    height: 0.8em;
    background-color: #E0BD78;
    z-index: -1;
}

#page_title::before {
    bottom: 0.1em;
    height: 0.5em;
}

#subtitle::before {
    bottom: 0.1em;
    height: 0.5em;
}

#sec::before {
    bottom:0.60em;
    height: 0.5em;
}

.right_panel{
    height: fit-content;
}

.title{
    text-align: center;
}

table{
    width: 95%;
}

table, th, td{
    border: 1px solid #1E3A47;
    border-collapse: collapse;

}

td{
    text-align: center;
}

td{
    padding: 10px 10px;
    width: fit-content;
}

.id{
    text-align: center;
}

th{
    padding: 10px 5vw;
    width: fit-content;
}


tr:nth-child(even) {background: #F0EFE7}
tr:nth-child(odd) {background: #FFFFFF}
tr:first-child{background-color: #E0BD78;}

.actions{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.void{
    text-decoration: none;
}

.action > img{
    width: 20px;
    background-color: #E0BD78;
    border-radius: 6px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.action > img:hover{
    background-color: #b69960;
}

.captcha_database_action{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1E3A47;
    background-color: #E0BD78;
    width: fit-content;
    border-radius: 100px;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 30px;
}

.captcha_database_action:hover{
    background-color: #b69960;
}

.captcha_database_action > img{
    width: 24px;
    filter: invert(20%) sepia(43%) saturate(573%) hue-rotate(153deg) brightness(85%) contrast(91%);
}

.database_actions_container{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tableau{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banned{
    color: red;
}

.message{
    display:flex;
    justify-content: center;
    margin-top:-15px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.message > .success {
    background-color: green;
    border-radius: 8px;
    text-align: center;
    padding: 1px;
    width: 95%;
    margin: 10px 0;
    animation: fadeInOut 5s ease-in-out forwards;
}

.message > .success > p {
    color: white;
    margin: 0;
    padding: 10px 0;
}

.message > .error{
    background-color: rgb(178, 29, 29);
    border-radius: 8px;
    text-align: center;
    padding: 1px;
    width: 95%;
    margin: 10px 0;
}
.message > .error > p{
    color: white;
    margin: 0;
    padding: 10px 0;
}

.hidden{
    display: none;
}

.filters {
    background-color: #F0EFE7;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;

    box-shadow: 0 3px 6px rgba(30, 58, 71, 0.15);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.filter_section{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filter_section > p{
    text-align: center;
    margin-top: 0;
}

.filter_section > input[type="checkbox"]{
    cursor: pointer;
}

.filter_section > input[type="checkbox"]:checked{
    background-color: #E0BD78;
    color: #1E3A47;
}


.filter_section > label{
    cursor: pointer;
}

.filter_section_1{
    margin-left:10px;
    border-right: 1px solid #1E3A47;
    padding-right: 10px;
    margin-top: 10px;
}

.filter_section_3{
    margin-right:10px;
    border-left: 1px solid #1E3A47;
    padding-left: 10px;
    margin-top: 10px;
    
}

.filter_section > select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1E3A47;
    background-color: #F0EFE7;
    color: #1E3A47;
    cursor: pointer;
}

.filter_section > input[type="text"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1E3A47;
    background-color: #F0EFE7;
    color: #1E3A47;
}

.refresh-controls{
    display: none;
}

.no_data{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    box-shadow : 0 3px 6px rgba(30, 58, 71, 0.15);
}

.no_data > img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
