
.profile-container {
  display: flex ;
  width: 100vw;
}

.profil_gauche {
  background-color: #fed88b6b;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

@media (max-width: 480px) {
  .profile-container {
    flex-direction: column;
  }
  .profil_gauche {
    width: 100vw;
    box-sizing: border-box;
    padding: none;
  }
}



.profile_gauche h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.editable{
  cursor: not-allowed;
}

.profile_gauche p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
  max-width: 200px;
  margin: 0 auto 20px auto;
}

select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: white;
  color: #333;
}

select:focus + label, select:not(:placeholder-shown) + label {
  top: -10px;
  left: 5px;
  font-size: 14px;
  color: #1A414E;
  width: auto;
  background-color: white;
}

textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: white;
  resize: none;
  height: 100px;
}

textarea:focus + label, textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: 5px;
  font-size: 14px;
  color: #1A414E;
  width: auto;
  background-color: white;
}

label {
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #999;
}

.active-label {
  top: -10px;
  left: 5px;
  font-size: 14px;
  color: #1A414E;
  background-color: white;
}

#register_form {
  margin-top: 3vh;
}

#btn_hr{
  margin-top: 2.5vh;
  margin-bottom: 0px;
}

#save_btn{
  display: none;
}
.input_subtext{
  color: #1A414E;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  margin-top: 0px;
}

.avatar{
  width:200px;
  height:200px;
  position: relative;
}

.skin, .hat, .eyes, .mouth{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skin{
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.hat{
  width:150px;
  left:50%;
  transform: translate(-50%, -50%);
}

.eyes{
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  margin-top:-10px;
}

.mouth{
  top: 80%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
}
body.dark-mode.profile-page::after {
  opacity: 0;
}
@media screen and (max-width: 480px) {
  .avatar{
    width:100px;
    height:100px;
  }

  .hat, .eyes, .mouth{
    width: 50%;
    height: 50%;
  }

  .hat{
    width: 75px;
  }

  .eyes{
    width: 50px;
  }

  .mouth{
    width: 50px;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin-top: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  accent-color: #FED78B;
}
.checkbox-container label {
  position: static;
  top: auto;
  left: auto;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  transition: none;
  pointer-events: auto;
}

#loginhr_{
  margin-bottom:10px;
  margin-top:10px;
}
.second_check{
  margin-top:-20px;
}

#mails_label{
  margin-top:-20px;
}

.dl_btn{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1A414E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.txterror{
  background-color: rgb(178, 29, 29);
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  animation: fadeInOut 5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}