body {
    height: 105vh;
}

.main_container {
    display: flex;
    width: 85vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: #f6f6f6;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.text {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
    border-radius: 8px;
    height: fit-content;
    padding-bottom: 35px;
}

#lmm::before{
    content: attr(data-content);
    color: transparent;
    bottom: -0.01em;
    height: 0.6em;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background-color: #50829B;
}

.petition_name{
    color: white;
    z-index: 700;
    display: flex;
    left: auto;
    justify-content: center;
}

.petition_header {
    background-image: url("../../Resources/img/bg/tigers.jpg");
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text > .pet_category {
    color: white;
    text-decoration: none;
    background-color: #4F6DFF;
    border-radius: 100px;
    padding: 10px 50px;
    transition: background-color 0.3s ease;
}

.text > .pet_category:hover {
    background-color: #2d4be1;
}

.description > p {
    text-align: left;
    margin: 50px;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 85vw;
    margin: 0 auto;
    margin-top: 50px;
    gap: 20px;
}

.grid > .signatures_container {
    border-radius: 8px;
    background-color: #f6f6f6;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
}

.grid > .signatures_container > .objectif {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-right: solid 1px black;
}

.grid > .signatures_container > .sign {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_petition_btn {
    background-color: #4F6DFF;
    padding: 10px 150px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.sign_petition_btn:hover {
    background-color: #2d4be1;
}

.grid > .petition_information {
    text-align: right;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f6f6f6;
}

.action_btn {
    justify-content: center;
    display: flex;
    width: 85vw;
    margin: 0 auto;
    margin-top: 50px;
}

.page_container {
    margin-top: 2.5%;
}

#back {
    width: 33%;
    font-size: 18px;
}
