ErrorDocument 404 /Sources/error.php?code=404
<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
    ErrorDocument 403 /Sources/error.php?code=403
</FilesMatch>
<FilesMatch "\.sql$">
    Order allow,deny
    Deny from all
    ErrorDocument 403 /Sources/error.php?code=403
</FilesMatch>
